@import '../../styles/variables';

.btn {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  width: 80px;
}

.leftBtn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $whiteColor;
}

.rightBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $whiteColor;
  border-left: none;
}

.selected {
  background-color: $primaryColor;
  color: $whiteColor;
}
